@import "tailwindcss";

@font-face {
  font-family: "YourFontName";
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

:root {
  font-family: "YourFontName";
}

.bg-button {
  background-color: hsl(0, 0%, 20%);
  color: white;
  font-weight: bold;
  font-size: 12px;
}

.bg-button:hover {
  background-color: hsl(75, 94%, 57%);
  color: black;
  font-weight: bold;
  font-size: 12px;
}

.bg-gray-900 {
  background-color: hsl(0, 0%, 8%);
}

.bg-gray-800 {
  background-color: hsl(0, 0%, 12%);
}

.bg-gray-700 {
  background-color: hsl(0, 0%, 20%);
}

.text-white {
  color: hsl(0, 0%, 100%);
}

.text-yellow {
  color: hsl(75, 94%, 57%);
}
